@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}
:root {
    --sidebar-color: #fe6347;
    --white-color: #fff;
    --black-color: #000;
    --section-title-color: #f44336;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background: var(--sidebar-color);
    color: var(--white-color);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    overflow-y: auto;
}

.sidebar h2 {
    margin-top: 60px;
}
.sidebar nav {
    margin-top: 80px;
}
.sidebar nav ul {
    list-style: none;
}
.sidebar nav ul li a {
    display: block;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    padding: 10px 5px;
}
.sidebar nav ul li a:hover {
    color: var(--black-color);
    transition: 0.3s ease-in-out;
}

.content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}
@media (max-width: 600px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }
}

.section-title {
    font-size: 50px;
    color: var(--sidebar-color);
    font-weight: bold;
}
.section-title::after {
    content: "";
    display: block;
    width: 70px;
    height: 10px;
    background-color: var(--section-title-color);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.home .home-title {
    margin: 100px 0px 20px 0px;
    font-size: 70px;
    font-weight: bold;
}
.home .gallery {
    display: grid;
    gap: 10px;
}

.home .gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.8;
}
@media (max-width: 600px) {
    .home .gallery {
        grid-template-columns: 1fr;
    }
}


@media (min-width: 1201px) {
    .home .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

.services-container {
    margin-top: 7%;
}

.designer-container {
    margin-top: 7%;
}

.designer_headline {
    font-weight: 700;
    margin: 3% 0;
}

.designers {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
@media (min-width: 600px) {
    .designers {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .designers {
        grid-template-columns: repeat(3, 1fr);
    }
}
.designers .designer {
    /* width: 32%; */
    background-color: #f1f1f1;
}

.designers .designer .contents {
    padding: 20px;
}

.designers .designer img {
    width: 100%;
    filter: grayscale(80%);
}

.designers .designer .contents h3 {
    font-size: 24px;
}
.designers .designer .contents p:nth-of-type(1) {
    color: #9b9b9b;
    font-weight: 600;
    margin: 5% 0;
}
.designers .designer .contents p:nth-of-type(2) {
    font-size: 16px;
    font-weight: 400;
}